# Node / Vite
client/node_modules/
client/dist/
*/node_modules/
*/vite.config.js
# Python
server/.venv/
*/.env
server/__pycache__/
server/*.pyc
server/messages.db

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
